body {
background-color: DimGray;
width: 85%;
margin: auto;
font-family: Verdana;
color: WhiteSmoke;
}
h1 {
	text-align: center;
}
#primer a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid ForestGreen;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#primer a:hover, a:active {
  background-color: ForestGreen;
  color: white;
}
#Jack a:link, a:visited {
  color: black;
}

#Jack a:hover, a:active {
  color: white;
}